<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= @item[:title] %></title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <div id="page-container">
        <div id="header">
            <div id="nav-menu">
            </div>

            <div id="logo">
            </div>
        </div>

        <div id="content-panel">
            <div id="about-us">

            </div>
            <div id="activities">

            </div>
        </div>
    </div>

</body>
</html>
