#!/usr/bin/env ruby


compile '/assets/**/*.{js,css}' do
  #remove assets from path
  write item.identifier.to_s.sub('/assets', '')
end

compile '/**/*' do
	if item.binary?
	else
		filter :erb
		layout '/default.*'
	end
end

route '/**/*.{html,md}' do
  if item.binary?
  else
    item.identifier.to_s
  end
end

layout '/**/*', :erb
