#!/usr/bin/env ruby


compile '/**/index.html' do
  layout '/home_page.*'
end

compile '/assets/**/*.{js,css}' do
  #remove assets from path
  write item.identifier.to_s.sub('/assets', '')
end


route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end



layout '/**/*', :erb
